header {
    /*overflow: hidden;*/
    background-color: #bb2a2a;
    padding: 20px 10px;
    /*display: flex;*/
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
}

body {
    overflow: hidden;
    background-color: #3b418a;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteiner-pai { 
display: flex;
width: 100vw;
 
height: calc(100vh-80px);

}

.caixa-preta { 
 flex: 1;
 background-color: #3b418a;
 color: azure;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 40px;
}

.conteudo-texto p {
font-size: 20px;
line-height: 1.6;
text-align: center;
margin: 10px 0;

}

.caixa-azul {
    flex: 1;               
    background-color: #c8a2c8; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.caixa-azul img {
    max-width: 100%;       
    max-height: 70vh;      
    object-fit: contain;  
    border-radius: 12px;  
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); 
}


